<footer class="w3-center w3-black w3-padding-48 w3-opacity">
    <p>Written and maintained by Rox Beecher.</p>
    <p style="color:rgb(195, 100, 140);">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-pink">w3.css</a></p>
</footer>