<!-- nav content -->
<div class="w3-bar w3-border w3-black">
  <a href="/" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Home</a>
  <a href="/guide" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Guide</a>
</div>