<head>
    <title>Phase 4 DSR Quiz</title>
        <style>
        body {
            background-color: rgb(239, 248, 255);
        }

        .bgimg {
            background-image: url("./images/index/dsrphase6.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 400px;
        }
    </style>
</head>

<body>

    <div class="bgimg w3-display-container w3-opacity-min">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Phase 4 DSR Quiz<span class="w3-hide-small"></span></span>
        </div>
    </div>

    <br>

    <!-- options -->
    <div class="w3-container w3-center w3-round w3-gray w3-border w3-border-black" style="width: 80%; margin-left: 10%; margin-right: 10%; padding: 5px">

        <!-- class picker -->
        <div class="w3-left w3-half w3-pale-red" style="padding: 0 2%">
            <p class="w3-left w3-left-align w3-threequarter" style="">Click the icon to select what type of class you wish to play as.</p>
            <img src="./images/index/dps.png" class="w3-button w3-image w3-quarter w3-border w3-border-red" style="min-width: 75px; max-width: 100px; padding: 0 0 0 0;">
        </div>

        <!-- position picker -->
        <div class="w3-right w3-half w3-pale-blue" style="padding: 0 2%">
            <p class="w3-left w3-left-align w3-threequarter" style="">Click the icon to select what spot you are playing the role in.</p>
            <img src="./images/index/1.png" class="w3-button w3-image w3-quarter w3-border w3-border-blue" style="min-width: 75px; max-width: 100px; padding: 0 0 0 0;">
        </div>

    </div>

    <br>

    <!-- guide -->
    <div class="w3-center" style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <p>If you are looking for a guide of how to solve the game/puzzle, <a class="w3-text-cyan" href="/guide">click here!</a></p>
    </div>

    <br>

    <!-- gameplay area -->
    <div class="w3-container w3-center w3-border w3-border-black" style="width: 80%; margin-left: 10%; margin-right: 10%; padding: 0">

        <!-- feedback -->
        <div class="w3-border w3-border-black" style="height: 80px;">
            <p class="w3-center-align">You are playing as [insert role] in the [number spot] spot. After the eyes have cast "Hatebound", you have been assigned [blue/red] chains. Where would you like to move to next? (click a green circle to move to it)</p>
        </div>

        <!-- play area-->
        <div class="w3-border w3-border-black" style="height: 480px;">
        </div>

        <!-- history -->
        <div class="w3-border w3-border-black" style="height: 80px;">
            <p class="w3-center-align">Last move:</p>
        </div>

    </div>

    <br>

    <div class="bgimg w3-display-container w3-opacity-min" style="min-height: 150px;">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Purpose and About<span class="w3-hide-small"></span></span>
        </div>
    </div>

    <br>

    <!-- purpose -->
    <div class="w3-center" style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <p>This tool is to aid players in understanding how to complete Phase 4 of FFXIV's Dragonsong's Reprise (Ultimate) using the strategies agreed upon in North American Ultimate Raiding (NAUR). There are various options available for which role the player is playing to complete the encounter. This website is inspired by a similar game for the M4S mechanic "Sunrise" <a class="w3-text-cyan" href="https://cupnoodle.moe/sunrise.htm" target="_blank">found here</a>, made by CupNoodle.</p>
        <p>This should be true to the in game interactions and chances of certain outcomes occurring.</p>
    </div>

    <br>
    
</body>