<head>
    <title>Phase 4 DSR Quiz</title>
        <style>
        body {
            background-color: rgb(239, 248, 255);
        }

        img {
            transform-origin: center center;
        }

        .bgimg {
            background-image: url("./images/index/dsrphase6.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 400px;
        }
    </style>
</head>

<body>

    <!-- options modal -->
    <div id="confirmation-options" class="w3-modal">
    <div class="w3-modal-content w3-animate-bottom">
        <div class="w3-container">
            <p class="w3-center" style="margin: 20px">This will reset all the current options. Are you sure?</p>
            <div class="w3-bar w3-display-bottomleft">
                <span onclick="document.getElementById('confirmation-options').style.display='none'"
                class="w3-button w3-gray w3-right">No</span>
                <span onclick="document.getElementById('confirmation-options').style.display='none'"
                class="w3-button w3-red w3-right">Yes</span>
            </div>
        </div>
    </div>
    </div>

    <!-- game modal -->
    <div id="confirmation-game" class="w3-modal">
    <div class="w3-modal-content w3-animate-bottom">
        <div class="w3-container">
            <p class="w3-center" style="margin: 20px">This will reset the current game. Are you sure?</p>
            <div class="w3-bar w3-display-bottomleft">
                <span onclick="document.getElementById('confirmation-game').style.display='none'"
                class="w3-button w3-gray w3-right">No</span>
                <span onclick="document.getElementById('confirmation-game').style.display='none'"
                class="w3-button w3-red w3-right">Yes</span>
            </div>
        </div>
    </div>
    </div>

    <!-- main image -->
    <div class="bgimg w3-display-container w3-opacity-min">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Phase 4 DSR Quiz<span class="w3-hide-small"></span></span>
        </div>
    </div>

    <br>

    <!-- options -->
    <div class="w3-container w3-center w3-round w3-gray w3-border w3-border-black" style="width: 80%; margin-left: 10%; margin-right: 10%; padding: 5px">

        <!-- class picker -->
        <div class="w3-left w3-half w3-pale-red classContainer" style="padding: 0 2%">
            <p class="w3-left w3-left-align w3-threequarter" style="padding: 0 4px; 0 0">Click the icon to select what type of class you wish to play as.</p>
            <img src="./images/index/dps.png" class="w3-button w3-image w3-quarter w3-border w3-border-red classSelect" data-class="0" style="min-width: 75px; max-width: 100px; width:22%; padding: 0 0 0 0;">
        </div>

        <!-- position picker -->
        <div class="w3-right w3-half w3-pale-blue" style="padding: 0 2%">
            <p class="w3-left w3-left-align w3-threequarter" style="padding: 0 4px; 0 0">Click the icon to select what spot you are playing the role in.</p>
            <img src="./images/index/1.png" class="w3-button w3-image w3-quarter w3-border w3-border-blue positionSelect" data-class="1" style="min-width: 75px; max-width: 100px; width:22%; padding: 0 0 0 0;">
        </div>

    </div>

    <!-- reset -->
    <button onclick="document.getElementById('confirmation-options').style.display='block'" class="w3-right w3-button w3-border w3-border-black w3-pale-yellow" style="margin-right: 10%; padding: 0;">
        <p style="margin: 0 10px">Reset</p>
    </button>

    <br>

    <!-- guide -->
    <div class="w3-center" style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <p>If you are looking for a guide of how to solve the game/puzzle, <a class="w3-text-cyan" href="/guide">click here!</a></p>
    </div>

    <br>

    <!-- gameplay area -->
    <div class="w3-container w3-center w3-border w3-border-black" style="width: 80%; margin-left: 10%; margin-right: 10%; padding: 0">

        <!-- feedback -->
        <div class="w3-border w3-border-black" style="height: 120px;">
            <p class="w3-center-align gameContext">You are playing as [dps] in the [1] spot. After the eyes have cast "Hatebound", you have been assigned [] chains. Where would you like to move to next?</p>
            <p class="w3-center-align"><em>(click a green circle to move to it)</em></p>
        </div>

        <!-- play area-->
        <div class="w3-border w3-border-black" style="height: 480px;">
            
            <!-- reset -->
            <button onclick="document.getElementById('confirmation-game').style.display='block'" class="w3-right w3-button w3-border w3-border-black w3-pale-yellow" style="padding: 0;">
                <p style="margin: 0 10px">Reset</p>
            </button>

            <!-- arena -->
            <div class="w3-container w3-center" style="position: relative; left: 25%; height: 100%; width: 563px; margin: 0; padding: 0;">

                <!-- arena -->
                <img src="./images/index/phase4arena-eyes.png" style="position: absolute; top: 0; left: 0; height:100%"> 

                <!-- player -->
                <img src="./images/index/roles/caster.png" style="position: absolute; top: 347px; left: 262px; height: 35px">

                <!-- 1 waymark -->
                <img src="./images/index/move.png" class="playerMove" data-id="0" style="position: absolute; cursor: pointer; top: 350px; left: 267px;"> 

                <!-- swap -->
                <img src="./images/index/move.png" class="playerMove" data-id="1" style="position: absolute; cursor: pointer; top: 226px; left: 267px;">

                <!-- blue eyeball center -->
                <img src="./images/index/move.png" class="playerMove" data-id="2" style="position: absolute; cursor: pointer; top: 228px; left: 141px;">

                <!-- melee prestack -->
                <img src="./images/index/move.png" class="playerMove" data-id="3" style="position: absolute; cursor: pointer; top: 228px; left: 105px;">

                <!-- melee orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="4" style="position: absolute; cursor: pointer; top: 228px; left: 75px;">

                <!-- tank prestack -->
                <img src="./images/index/move.png" class="playerMove" data-id="5" style="position: absolute; cursor: pointer; top: 228px; left: 426px;">

                <!-- tank orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="6" style="position: absolute; cursor: pointer; top: 228px; left: 454px;">

                <!-- r1 pre -->
                <img src="./images/index/move.png" class="playerMove" data-id="7" style="position: absolute; cursor: pointer; top: 193px; left: 141px;">

                <!-- r1 orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="8" style="position: absolute; cursor: pointer; top: 168px; left: 141px;">

                <!-- r2 pre -->
                <img src="./images/index/move.png" class="playerMove" data-id="9" style="position: absolute; cursor: pointer; top: 265px; left: 141px;">

                <!-- r2 orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="10" style="position: absolute; cursor: pointer; top: 290px; left: 141px;">

                <!-- h1 pre -->
                <img src="./images/index/move.png" class="playerMove" data-id="11" style="position: absolute; cursor: pointer; top: 193px; left: 392px;">

                <!-- h1 orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="12" style="position: absolute; cursor: pointer; top: 168px; left: 392px;">

                <!-- h2 pre -->
                <img src="./images/index/move.png" class="playerMove" data-id="13" style="position: absolute; cursor: pointer; top: 265px; left: 392px;">
                
                <!-- h2 orb -->
                <img src="./images/index/move.png" class="playerMove" data-id="14" style="position: absolute; cursor: pointer; top: 290px; left: 392px;">

                <!-- dive 1 cw -->
                <img src="./images/index/move.png" class="playerMove" data-id="15" style="position: absolute; cursor: pointer; top: 180px; left: 90px;">

                <!-- dive 2 cw -->
                <img src="./images/index/move.png" class="playerMove" data-id="16" style="position: absolute; cursor: pointer; top: 180px; left: 190px;">

                <!-- dive 3 cw -->
                <img src="./images/index/move.png" class="playerMove" data-id="17" style="position: absolute; cursor: pointer; top: 280px; left: 90px;">

                <!-- dive 4 cw -->
                <img src="./images/index/move.png" class="playerMove" data-id="18" style="position: absolute; cursor: pointer; top: 280px; left: 190px;">
            </div>
            
        </div>

        <!-- history -->
        {{!-- <div class="w3-border w3-border-black" style="height: 80px;">
            <p class="w3-center-align">Last move:</p>
        </div> --}}

    </div>

    <br>

    <div class="bgimg w3-display-container w3-opacity-min" style="min-height: 150px;">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Purpose and About<span class="w3-hide-small"></span></span>
        </div>
    </div>

    <br>

    <!-- purpose -->
    <div class="w3-center" style="width: 80%; margin-left: 10%; margin-right: 10%;">
        <p>This tool is to aid players in understanding how to complete Phase 4 of FFXIV's Dragonsong's Reprise (Ultimate) using the strategies agreed upon in North American Ultimate Raiding (NAUR). There are various options available for which role the player is playing to complete the encounter. This website is inspired by a similar game for the M4S mechanic "Sunrise" <a class="w3-text-cyan" href="https://cupnoodle.moe/sunrise.htm" target="_blank">found here</a>, made by CupNoodle.</p>
        <p>This should be true to the in game interactions and chances of certain outcomes occurring.</p>
    </div>

    <br>
    
</body>

<script src="./js/index.js"></script>